.main {
  flex: 1;
  color: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.gridIcon {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridTitle {
  font-size: 23px;
  font-weight: bold;
  margin-top: 5px;
}
.yourImc {
  font-size: 17px;
  margin: 10px 0 50px 0;
}
.gridInfo {
  font-size: 12px;
  margin-top: 14px;
}
